<div class="large reveal reveal-resume" id="cv-modal" data-reveal data-animation-in="slide-in-down" data-animation-out="fade-out fast" data-closable data-toggle style="outline:none;">

<div class='portfolio-resume grid-container grid-x' id='cv'>
  <div class='cell small-6'>
    <div class='portfolio-resume-wrapper'>
      <h4 class='portfolio-resume-header'>Experience</h4>
      <div class='portfolio-resume-spacing'>

        <h5><strong>Software Engineer - Lunde Water</strong></h5>
        <p>Work-Order Application</p>
        <ul>
          <li>Develop back-end authentication server using passport-local</li>
          <li>Collaborate to create a final product with mapping, scheduling, purchasing, and payroll capabilities</li>
          <li>Structure complex code using multiple modules</li>
          <li>Collaborate with the client and team of developers to define and prioritize solutions</li>
        </ul>
      </div>
      <div class='portfolio-resume-spacing'>
        <h5><strong>Software Engineer - It's Animated Text</strong></h5>
        <p>Tumbleblog and E-commerce Platform</p>
        <ul>
          <li>Recreate tumblr environment and functionality using Tumblr API</li>
          <li>Use Agile development practices to collaboratively define, schedule, and execute project goals</li>
          <li>Dynamically integrate design assets from multiple social media platforms.</li>
        </ul>
      </div>
      <div class='portfolio-resume-spacing'>
        <h5><strong>Project Manager - Helpful Things</strong></h5>
        <p>Online Dating Platform</p>
        <ul>
          <li>Determine project goals and priorities</li>
          <li>Lead exploratory, development, and implementation phases of content-marketing initiative</li>
        </ul>
      </div>
      <div class='portfolio-resume-spacing'>
        <h5><strong>Director of Client Relationships - RHM Global</strong></h5>
        <p>Geopolitical Intelligence Reporting</p>
        <ul>
          <li>Management position at a major firm handling highly sensitive, market-moving information</li>
          <li>Research, acquire, and maintain client relationships</li>
        </ul>
      </div>
    </div>
  </div>
  <div class='cell small-3'>
    <div class='portfolio-resume-wrapper'>
      <div class='portfolio-resume-spacing'>
        <h4 class='portfolio-resume-header'>Languages</h4>
        <ul>
          <li>JavaScript</li>
          <li>CSS</li>
          <li>Sass</li>
        </ul>
        <br>
        <h4 class='portfolio-resume-header'>Skills</h4>
        <ul>
          <li>CRUD</li>
          <li>PWAs</li>
          <li>RESTful APIs</li>
          <li>Agile Development</li>
          <li>Object-Oriented Programming</li>
          <li>Test-Driven Development</li>
          <li>Project Management</li>
          <li>I speak French</li>
          <li>And a little Finnish. My favorite line is: <span data-tooltip data-position="bottom" data-alignment="center" tabindex='1' title='"The guy behind me is paying for everything"'>"Tämä takani kaveri maksaa kaikesta"</span></li>
        </ul>

        <div class='card' style='width: 500px; margin-top:8rem;'>
          <div class='card-section'>
            <h5><strong>Education</strong></h5>
            <ul>
              <li>UCLA-Extension Full Stack Development Bootcamp</li>
              <li>Bennington College, VT: BA Translation and Comparative Literature (French)</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class='cell small-3'>
    <div class='portfolio-resume-spacing'>
      <div class='portfolio-resume-wrapper'>
        <h4 class='portfolio-resume-header'>Libraries</h4>
        <ul>
          <li>JQuery</li>
          <li>NodeJS</li>
          <li>React</li>
          <li>Passport</li>
          <li>OAuth2</li>
          <li>AuthO</li>
          <li>MongoDB</li>
          <li>Mongoose</li>
          <li>MySQL</li>
          <li>Sequelize</li>
          <li>Heroku</li>
          <li>Handlebars</li>
          <li>Bootstrap</li>
          <li>Foundation</li>
          <li>Materialize</li>
        </ul>
      </div>
    </div>
  </div>
  <button class="close-button" aria-label="Dismiss alert" type="button" data-close>
    <span aria-hidden="true">&times;</span>
  </button>
</div>
</div>
