<div class="shell-footer">
        <footer class="page-footer teal darken-1 z-depth-3">
            <div class="container" style="padding:2%;">
                <div class="row">
                    <div class="col s3"><a class="grey-text text-lighten-3" href="#!">Credits</a></div>
                    <div class="col s3"><a class="grey-text text-lighten-3" href="#!">Sitemap</a></div>
                    <div class="col s3"><a class="grey-text text-lighten-3" href="#!">LinkedIn</a></div>
                    <div class="col s3"><a class="grey-text text-lighten-3" href="#!">Twitter</a></div>

                </div>
            </div>

            <div class="footer-copyright">
                <div class="container">
                    © 2020 Kat Yeary
                    <a class="grey-text text-lighten-4 right" href="#https://www.katyeary.com">(I was looking for
                        the comedian?)</a>
                </div>
            </div>
        </footer>
    </div>
    </div>