<div class="hero-section">
    <img src="assets/resp-portrait.jpg">
    <div class="grid-container grid-x align-middle align-left">
        <div class="cell">
            <div class="typewriter">Hi, I'm Kat Yeary.</div>
            <p>I'm a software engineer in Los Angeles, CA.</p>
         {{!--    <div class="delay-visibility"><a class="button" href="#aboutme">About Me</a></div> --}}
            <div class="delay-visibility"><a class="button" href="cv">Resume</a></div>
        </div>
    </div>
</div> 

 {{> cv}}
