<div class="hero-section">
    <img src="assets/resp-portrait.jpg">
    <div class="grid-container grid-x align-middle align-left">
        <div class="cell">
            <div class="typewriter">Hi, I'm Kat Yeary.</div>
            <p>I'm a software engineer in Los Angeles, CA.</p>
            <div class="delay-visibility large button-group align-right">
                <a class="button hero-buttons" data-open="cv">Resume</a>
                <a class="button hero-buttons disabled" style="margin-left:1rem;" data-open="loginModal">Log In</a>
            </div>
        </div>
    </div>
</div> 

{{> cv}}
{{> login-modal}}