<nav class="top-bar topbar-responsive data-smooth-scroll data-sticky">
  <div class="top-bar-title">
    <span data-responsive-toggle="topbar-responsive" data-hide-for="medium">
      <button class="menu-icon" type="button" data-toggle></button>
    </span>
  </div>
  <div id="topbar-responsive" class="topbar-responsive-links">
    <div class="top-bar-right" style="font-weight:bold;">
      <ul class="menu simple vertical medium-horizontal">
        <li><a href="#aboutme">About Me</a></li>
        <li><a href="#cv">CV</a></li>
        <li><a href="#contactme">Contact Me</a></li>
        <li><a href="https://github.com/koyeary">GitHub</a></li>
      </ul>
    </div>
  </div>
</nav>
