
 <header class="sticky-shrinknav-header">
   {{> hero }}
  <ul class="menu align-center align-middle sticky-shrinknav-menu delay-visibility">
    <li><a href="#aboutme">About</a></li>
     <li><a data-open="cv">Resume</a></li>  
     <li><a href="#contact">Contact</a></li> 
    <li><a href="https://github.com/koyeary">Github</a></li>
  </ul>
</header> 



