<div class="reveal" id="register"
  style="background-color:rgba(54, 54, 54, 0); border-color: rgba(54, 54, 54, 0); outline:none;" data-reveal>
  <form>
    <div class="sign-in-form">
      <label for="sign-in-form-username">Email</label>
      <input type="text" class="sign-in-form-username" id="sign-in-form-username">
      <label for="sign-in-form-username">Username</label>
      <input type="text" class="sign-in-form-username" id="sign-in-form-username">
      <label for="sign-in-form-password">Password</label>
      <input type="text" class="sign-in-form-password" id="sign-in-form-password">
      <label for="sign-in-form-password">Confirm Password</label>
      <input type="text" class="sign-in-form-password" id="sign-in-form-password">
      <button type="button" class="sign-in-form-button" style="margin-top:10px;" data-open="thank-you">sign up</button>
      <button type="button" class="sign-in-form-button" style="margin-top:10px;" data-open="guest">continue as
        guest</button>
    </div>
  </form>

  <!-- validate registration -->
  <div class="reveal" id="thank-you"
    style="background-color:rgba(54, 54, 54, 0); border-color: rgba(54, 54, 54, 0); outline:none;" data-reveal>
    <div class="sign-in-form">
      <h4 class="text-left">Thanks!</h4>
      <p style="color: #adadad;">You are now a member of our fan club. We won't send you anything.<br>Feel free to have a look around, and take a look at my <a href="#cv">resume</a>.</p>
    </div>
  </div>

  <div class="reveal" id="guest"
    style="background-color:rgba(54, 54, 54, 0); border-color: rgba(54, 54, 54, 0); outline:none;" data-reveal>
    <div class="sign-in-form">
      <h4 class="text-left">Welcome.</h4>
      <p style="color: #adadad;">Make yourself comfortable.</p>
    </div>
  </div>