{{> nav }} 

      <div class="grid-container"> 
         <div class="grid-y" style="height: 100px;"></div> 
         <div class="grid-x grid-margin-x"> 

             <div class="cell" id="aboutme" style="">
                <h2 class="subheader">I love problems.</h2>
                <p>That's probably why I love programming. I want to be challenged, to be malleable, to find new solutions, and to always be learning something new. </p>
                <p>I've also been a working stand-up comic for seven years. I live with my fiancee Lauren, who <a href="https://www.laurenrantala.com">makes cartoons,</a> and our cat, Dr. Katz.</p>

                <button class="button cv-modal" data-toggle="cv-modal">Check
                    out my resume.</button>
                {{> cv }}
            </div>
            </div> 
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam ullam vero quidem perferendis totam obcaecati labore voluptates quasi odit tempora, ab dicta repellendus nobis rerum. Voluptatem et possimus reiciendis ullam?</p>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Enim sed exercitationem necessitatibus sunt, quis quasi eligendi cupiditate doloremque ratione. Repudiandae aut atque tempora sapiente, ratione numquam dolorem iure nesciunt illo!</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam ullam vero quidem perferendis totam obcaecati labore voluptates quasi odit tempora, ab dicta repellendus nobis rerum. Voluptatem et possimus reiciendis ullam?</p>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Enim sed exercitationem necessitatibus sunt, quis quasi eligendi cupiditate doloremque ratione. Repudiandae aut atque tempora sapiente, ratione numquam dolorem iure nesciunt illo!</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam ullam vero quidem perferendis totam obcaecati labore voluptates quasi odit tempora, ab dicta repellendus nobis rerum. Voluptatem et possimus reiciendis ullam?</p>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Enim sed exercitationem necessitatibus sunt, quis quasi eligendi cupiditate doloremque ratione. Repudiandae aut atque tempora sapiente, ratione numquam dolorem iure nesciunt illo!</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam ullam vero quidem perferendis totam obcaecati labore voluptates quasi odit tempora, ab dicta repellendus nobis rerum. Voluptatem et possimus reiciendis ullam?</p>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Enim sed exercitationem necessitatibus sunt, quis quasi eligendi cupiditate doloremque ratione. Repudiandae aut atque tempora sapiente, ratione numquam dolorem iure nesciunt illo!</p>
    </div>  

