
{{> nav }}


<div class="grid-container" id="aboutme" style="margin:15%; margin-bottom:10%;">
    <div class="grid-y" style="height: 150px;"></div>
    <div class="divider row"></div>
    <div class="grid-x grid-margin-x" style="margin-top:7rem;margin-left:1rem;">
        <div class="cell large-6 align-middle padding-top:5rem;">
            <h1 class="subheader">I love problems.</h1>
            <p>That's why I like programming. The stuff I don't know is more interesting than the stuff I know. I've
                always had a thing for languages too, and my background was
                originally in translation. That's a big part of why it felt so natural to become a developer.</p>
            <p>I'm also a working stand-up comic, and I've been doing that for seven years. I live with my fiancee
                Lauren, who <a href="https://www.laurenrantala.com">makes
                    cartoons,</a> and our cat, Dr. Katz.</p>
        </div>
        <div class="cell large-6" style="padding:5rem;">
            <div class="button-group stacked">
                <a class="button log-in" data-open="cv">Check out my resume.</a>
                <a class="button" href="https://github.com/koyeary">My Github</a>
                <a class="button" href="https://www.linkedin.com/in/kat-yeary/">Linked In</a>
                {{!-- <a class="button" href="#contact">Contact me</a> --}}
            </div>
        </div>


    </div>
</div>

          {{!--    <div class="divider row" style="margin-bottom:5rem; margin-left:15rem; margin-right:15rem;"></div>
    <div class="grid-container">
        <div class="grid-x grid-padding-x" id="contact">
            <div class="cell" style="margin-top:2rem; margin-bottom:2rem; margin-left:10rem;">
                <h1 class="subheader">Say hello.</h1>
            </div>
        </div>
        <div class="grid-x grid-margin-x" style="margin-left:9rem;margin-right:10rem;">
            <div class="cell medium-6 large-8" style="padding-right:3rem;">
                <label>
                    <input type="text" placeholder="Name">
                </label>
                <label>
                    <input type="text" placeholder="Email">
                </label>
                <label>
                    <textarea placeholder="Your message" rows="5"></textarea>
                </label>
                <div class="text-right">
                    <input type="submit" onClick="placeOrder(this.form)" class="button expanded" value="Submit">

                    
                </div>
            </div>
            <div class="cell medium-6 large-4">
                <img src="assets/portfoliouse.jpg" style="border-radius:50%;padding:1rem;">
                <label class="text-center subheader">Also me.</label>
            </div>
        </div>
        <div class="divider row" style="margin:5rem;"></div> --}}

        {{> footer}}