<div class="hero-section">
    <div class="slide-in-left"><img src="assets/resp-portrait.jpg"></div>
    <div class="grid-container grid-x align-middle align-left">
        <div class="cell">
           <div class="typewriter">Hi, I'm Kat Yeary.<span><a href="#aboutme"> X</a></span></div><br>
        </div>
    </div>
</div>
{{> nav}}

<main>

</div>
<button class="button" data-toggle="loginModal">Log In</button>
{{!-- <div class="tiny reveal" id="loginModal" style="background-color:rgba(54, 54, 54, 0); border-color: rgba(54, 54, 54, 0); outline:none;"
 data-reveal> --}}
  {{> login-modal }}
</div>

</main>
<script>
    $(document).foundation();
</script>
