.jumbotron-item {
  background-color: #ffffff;
}

/* Text Animation */

.typewriter {
  font-weight:600; 
  color:#160947;
  border-right: solid 3px #160947;
  white-space: nowrap;
  overflow: hidden; 
}

.typewriter {
 animation: animated-text 2s steps(29,end) 1s 1 normal both,
 animated-cursor 600ms steps(29,end) infinite;
}


 @keyframes animated-text{
  from{width: 0;}
  to{width: 472px;}
} 

@keyframes animated-cursor{
  from{border-right-color: #160947;}
  to{border-right-color: transparent;}
}

/* Button Fade-In Animation */

.fade-in-btn {
  animation: fadeInBtn ease 5s;
  -webkit-animation: fadeInBtn ease 5s;
  -moz-animation: fadeinBtn ease 5s;
  -o-animation: fadeinBtn ease 5s;
  -ms-animation: fadeinBtn ease 5s;
  }

  @keyframes fadeInBtn {
     0% {
      opacity:0;
      visibility: hidden;
      } 
      60% {
        opacity:0;
      }
    100% {
      opacity:1;
      visibility: visible;
    }
    }
  
  @-moz-keyframes fadeInBtn {
    0% {
      opacity:0;
      visibility: hidden;
      }
      50% {
        visibility: visible;
      }
    100% {
      opacity:1;
    }
    }
  
  @-webkit-keyframes fadeinBtn {
    0% {
      opacity:0;
      visibility: hidden;
      }
      50% {
        visibility: visible;
      }
    100% {
      opacity:1;
    }
    }
  
  @-o-keyframes fadeinBtn {
  0% {
    opacity:0;
    visibility: hidden;
    }
    50% {
      visibility: visible;
    }
  100% {
    opacity:1;
  }
  }
  
  @-ms-keyframes fadeinBtn {
    0% {
      opacity:0;
      visibility: hidden;
      }
      50% {
        visibility: visible;
      }
    100% {
      opacity:1;
    }
    }

/* delay page load */

.delay-visibility {
  animation: 3.5s fadeIn;
  animation-fill-mode: forwards;
  
  visibility: hidden;
}

@keyframes fadeIn {
  95% {
    visibility: hidden;
  }
  100% {
    visibility: visible;
  }
} 

.btn {
  background-color: #160947;
  color: #ffffff; 
}