
/* Hero */

.hero-section {
  background-color: #ffffff; 
  background-size: cover;
  height: 100vh;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: left;
      -ms-flex-align: left;
          align-items: left;
  -webkit-justify-content: left;
      -ms-flex-pack: left;
          justify-content: left;
          	background-repeat: no-repeat;
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
	background-size: cover;
	/* position: fixed; */
	width: 100%;       
}


.hero-section img {
  max-height: 100vh;
  max-width: 100%;
}

/* Title Animation */

.typewriter {
  font-weight:600; 
  font-size: 4.5vw;
  color:#160947;
  border-right: solid 3px transparent;
  white-space: nowrap;
  overflow: hidden; 
}

.typewriter {
 animation: animated-text 2s steps(25,end) 1s 1 normal both,
 animated-cursor 700ms steps(25,end) 6;
}


 @keyframes animated-text{
  from{width: 1%;}
  to{width: 100%;}
} 

@keyframes animated-cursor{
  from{border-right-color: #160947;}
  to{border-right-color: transparent;}
} 

/*by-line*/
.hero-section p {
  font-weight: 400; 
  font-size: 2vw;
  color:#160947;
  border-right: solid 3px transparent;
  white-space: nowrap;
  overflow: hidden; 
}

.hero-section p {
 animation: animated-p 2s steps(27,end) 4.5s 1 normal both,
 animated-cursor-p 700ms steps(27,end) 4s 5;
}

 @keyframes animated-p {
  from{width: 0.1%;}
  to{width: 101%;}
} 

@keyframes animated-cursor-p {
  from{border-right-color: #160947;}
  to{border-right-color: transparent;}
} 


/* About Me Button */

.hero-section a {
  background-color:#160947;
  border-radius: 10%; 
  color:#ffffff;
  font-weight: 600;
}
.delay-visibility {
  animation: delayVisibility ease 8s;
}

@keyframes delayVisibility {
  0% {
    opacity:0;
    visibility: hidden;
    }
    90% {
      opacity:0.5;
      visibility: hidden;
    }
  100% {
    opacity:1;
    visibility: visible;
  }
  }

/*** Modals ***/

/* Registration */

.sign-in-form {
  padding: 1rem 1.5em;
  border-radius: .5rem;
  background-color: rgba(54, 54, 54, 0.9);
}

.sign-in-form h4 {
  color: white;
  margin-bottom: 1rem;
  font-weight: 600;
  text-transform: uppercase;
}

.sign-in-form label {
  text-transform: uppercase;
  color: #adadad;
  letter-spacing: 1px;
  font-weight: 600;
  margin-bottom: 1rem;
}

.sign-in-form input {
  color: black;
}

.sign-in-form input:focus {
  opacity: .8;
}

.sign-in-form-username,
.sign-in-form-password {
  border-radius: 30px;
  border: none;
  opacity: .1;
  transition: all ease .4s;
}

.sign-in-form-button {
  border-radius: 30px;
  border: 1px solid #fff;
  color: #fff;
  background-color: transparent;
  text-transform: uppercase;
  letter-spacing: 1px;
  width: 100%;
  padding: 1rem;
  transition: all ease .4s;
}

.sign-in-form-button:hover {
  background-color: #44c8ed;
  border-color: #44c8ed;
}

/* Sections */

.reveal-resume
{
  max-height: initial;
  height: 80%; 
  overflow-y: scroll;
}

.portfolio-resume-spacing {
  margin-bottom: 2rem;
}

.portfolio-resume-wrapper {
  padding: 2rem 1.5rem;
}

.portfolio-resume-headshot {
  margin-bottom: 2rem;
  border-radius: 50%;
}

.portfolio-resume-header {
  text-transform: uppercase;
  padding-bottom: 1rem;
  border-bottom: 1px solid #e6e6e6;
  font-weight: bold;
  margin-bottom: 1rem;
}

.portfolio-resume-contact-info {
  margin-bottom: 0.75rem;
}

.portfolio-resume-contact-info a {
  color: #0a0a0a;
}

.portfolio-resume-contact-info .fa {
  font-size: 1.4rem;
  padding-right: 0.8rem;
  vertical-align: middle;
  color: #0a0a0a;
}
 
/* Navbar */

.topbar-responsive {
  background: #2c3840;
  padding: 1rem 1.5rem;
}

.topbar-responsive .topbar-responsive-logo {
  color: #fefefe;
  vertical-align: middle;
}

.topbar-responsive .menu {
  background: #2c3840;
}

.topbar-responsive .menu li:last-of-type {
  margin-right: 0;
}

.topbar-responsive .menu a {
  color: #fefefe;
  transition: color 0.15s ease-in;
}

.topbar-responsive .menu a:hover {
  color: #c6d1d8;
}

@media screen and (max-width: 39.9375em) {
  .topbar-responsive .menu a {
    padding: 0.875rem 0;
  }
}

.topbar-responsive .menu .topbar-responsive-button {
  color: #fefefe;
  border-color: #fefefe;
  border-radius: 5000px;
  transition: color 0.15s ease-in, border-color 0.15s ease-in;
}

.topbar-responsive .menu .topbar-responsive-button:hover {
  color: #c6d1d8;
  border-color: #c6d1d8;
}

@media screen and (max-width: 39.9375em) {
  .topbar-responsive .menu .topbar-responsive-button {
    width: 100%;
    margin: 0.875rem 0;
  }
}

@media screen and (max-width: 39.9375em) {
  .topbar-responsive {
    padding: 0.75rem;
  }
  .topbar-responsive .top-bar-title {
    position: relative;
    width: 100%;
  }
  .topbar-responsive .top-bar-title span {
    position: absolute;
    right: 0;
    border: 1px solid #fefefe;
    border-radius: 5px;
    padding: 0.25rem 0.45rem;
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  .topbar-responsive .top-bar-title span .menu-icon {
    margin-bottom: 4px;
  }
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes slideDown {
  0% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  100% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}

@keyframes slideDown {
  0% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  100% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}

@media screen and (max-width: 39.9375em) {
  .topbar-responsive-links {
    -webkit-animation-fill-mode: both;
            animation-fill-mode: both;
    -webkit-animation-duration: 0.5s;
            animation-duration: 0.5s;
    width: 100%;
    -webkit-animation: fadeIn 1s ease-in;
            animation: fadeIn 1s ease-in;
  }
}

